
/* 特殊公共样式 */
/* 线 */
.border_line{
	position: relative;
	&::after{
		content: "";
		width: 100%;
		position: absolute;
		bottom: 0;
		right: 0;
		height: 1px;
		background-color: #c8c7cc;
		transform: scaleY(.5);
	}
}
/* 动画 */
// 放缩
@keyframes scale{
	0% {transform: scale(.2)}
	50% {transform: scale(1.4)}
	100% {transform: scale(1)}
}


/**
 * 页面主体
 */
.container{
	width: 100vw;
	height: 100vh;
    box-sizing: border-box;
	background-color: transparent;
}

/**
 * 设置内容表单
 */
.setting_item{
	padding: $mo-spacing-base;
	.setting_title,.setting_hint{
		font-size: $mo-font-sm;
		padding: $mo-spacing-sm $mo-spacing-base;
		text{
			padding: $mo-spacing-sm $mo-spacing-base;
		}
	}
	.setting_hint{
		color: $mo-text-color-placeholder;
	}
	.textarea_box{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: $mo-spacing-sm $mo-spacing-base;
		.textarea_settting{
			width: 100%;
			padding: $mo-spacing-lg;
			box-sizing: border-box;
			border-radius: 50rpx;
			background-color: $mo-bg-color-white;
		}
	}
}

/**
 * 表单基础样式
 */
.mo_form_item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24rpx 0;
	// 表单组
	.mo_form_item_group{
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 50rpx;
		background-color: $mo-bg-color-white;
		width: 86%;
		padding: 0 $mo-spacing-base;
		.form_item_main{
			@extend .border_line;
			width: 100%;
			.select_icon{
				transform: scale(0);
			}
			.select_changed{
				animation: scale .2s;
				// animation-duration: .2s;
				transform: scale(1);
			}
		}
		.form_item_main:last-child::after {
			height: 0
		}
	}
	.form_item_main,.form_button_main{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 86%;
		height: 80rpx;
		padding: $mo-spacing-sm $mo-spacing-base;
		border-radius: 50rpx;
	}
	// 表单项主体
	.form_item_main{
		background-color: $mo-bg-color-white;
		.icon{
			display: flex;
			justify-content: center;
			align-items: center;
			image{
				width: $mo-icon-base;
				height: $mo-icon-base;
			}
			&.right_icon{
				image{
					width: $mo-icon-sm;
					height: $mo-icon-sm;
				}
			}
		}
		.title{
			padding: 0 12rpx;
			&.flex_1{
				flex: 1;
			}
		}
		.value{
			flex: 1;
			width: 100%;
			padding: 0 12rpx;
			box-sizing: border-box;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			input{
				width: 100%;
				box-sizing: border-box;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			&.align_right{
				text-align: right;
			}
		}
		.hint{
			color: $mo-text-color-placeholder;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.btn_right{
			color: $mo-color-theme-lv1;
			&.disabled{
				color: $mo-color-theme-lv4;
			}
		}
	}
	// 按钮
	.form_button_main{
		justify-content: center;
		background-image: linear-gradient(to right, $mo-color-theme-lv1, $mo-color-theme-lv4);
		text-align: center;
		font-size: 36rpx;
		font-weight: 700;
		color: #FFF;
		letter-spacing: 12rpx;
		&.disabled{
			background-image: linear-gradient(to right, lighten($mo-color-theme-lv1, 30%) , lighten($mo-color-theme-lv4, 30%));
		}
		&.mini_btn{
			width: auto;
			height: auto;
			font-size: 24rpx;
			font-weight: 100;
			padding: $mo-spacing-sm $mo-spacing-base;
			letter-spacing: 0;
		}
	}
	// 隐式值
	.value_hind{
		display: none;
		// visibility: hidden;
	}
}
