$mo-color-primary-lv1: #20c3d0;
$mo-color-primary-lv2: #3fd0d4;
$mo-color-primary-lv3: #86D6D8;
$mo-color-primary-lv4: #B9E8EA;

$mo-color-success: #55C976;
$mo-color-warning: #FA6400;
$mo-color-error: #dd524d;

$mo-bg-color: #f5f5f5;

$mo-font-llg: 60rpx;
$mo-font-lg: 48rpx;
$mo-font-m: 32rpx;
$mo-font-s: 24rpx;
